{% extends 'layouts/master.html' %}
{% block content %}
{% load static %}
    <div class="col-xl-6 col-md-6 mb-6">
        <div class="card border-left-danger shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                    Usuario: <mark>{{ user.username }}  {{user.get_full_name }}</mark> 
                </div>
                <div class="dropdown-divider"></div>

                <div class="row">
                    <mark>No tiene suficientes privilegios</mark> para cargar opción solicitada.
                    <br>
                    <small>Para poder acceder, debes loguearte con un usuario con privilegios necesarios.</small>

                </div>
                <div class="dropdown-divider"></div>
                <div class="row">
                    <div class="col">
                        <a href="{% url 'base:home' %}" class="btn btn-success"><span class="fa fa-home"></span> Ir a Inicio</a>
                        <a href="{% url 'base:login' %}" class="btn btn-success"><span class="fa fa-user"></span> Ingresar con otro Usuario</a>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <i class="far fa-calendar-plus fa-2x text-gray-300"></i>
            </div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}