{% extends 'layouts/master.html' %}
{% block content %}
{% load static %}

<div class="pcoded-main-container">
    <div class="pcoded-wrapper">

        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- Main-body start -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- Page-header start -->
                        <div class="page-header card">
                            <div class="row align-items-end">
                                <div class="col-lg-8">
                                    <div class="page-header-title">
                                        <i class="icofont icofont-file-spreadsheet bg-c-yellow card1-icon"></i>
                                        <div class="d-inline">
                                            <h4>Listado De Estudiantes Matriculados</h4>
                                            <span>Se muestra el listado de los Estudiantes matriculados.</span>
                                        </div>
                                    </div>
                                </div> 
                                <div class="col-lg-4">
                                    <div class="page-header-breadcrumb">                                                                        
                                        <a href="{% url 'academico:matricula_new' %}">
                                            <button type="button" class="btn btn-success btn-outline-success">
                                                <i class="icofont icofont-user-alt-3"></i>
                                                Nuevo
                                            </button>
                                        </a>                                       
                                    </div>
                                </div>                               
                            </div>
                        </div>
                        <!-- Page-header end -->

                        <!-- Page-body start -->
                        <div class="page-body">
                            <!-- Basic table card start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5>Lista de Grados</h5>                                    
                                    <div class="card-header-right">
                                        <ul class="list-unstyled card-option">
                                            <li><i class="icofont icofont-simple-left "></i></li>
                                            <li><i class="icofont icofont-maximize full-card"></i></li>
                                            <li><i class="icofont icofont-minus minimize-card"></i></li>
                                            <!--<li><i class="icofont icofont-refresh reload-card"></i></li>-->
                                            <!--<li><i class="icofont icofont-error close-card"></i></li>-->
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-block table-border-style">
                                    <div class="table-responsive">
                                        {% if not obj %}
                                            <div class="alert alert-info">No hay datos para mostrar en la lista</div>
                                        {% else %}   
                                        <table class="table" id="FiltradoTable">
                                            <thead>
                                                <tr>
                                                    <th>Código</th>
                                                    <th>Estudiante</th>
                                                    <th>Grado</th>
                                                    <th>Nivel</th>
                                                    <th>Turno</th>                                                   
                                                    <th class="all">Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for item in obj %}
                                                <tr>
                                                    <td>{{ item.codmatricula }}</td>
                                                    <td>{{ item.idestudiante }}</td>
                                                    <td>{{ item.grado }}</td>
                                                    <td>{{ item.nivel }}</td>
                                                    <td>{{ item.turno }}</td>
                                                    <td>
                                                        <button class="btn btn-warning btn-outline-warning btn-icon"><i class="icofont icofont-edit"></i></button>
                                                        <button class="btn btn-danger btn-outline-danger btn-icon"><i class="icofont icofont-trash"></i></button>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <!-- Basic table card end -->
                        </div>
                        <!-- Page-body end -->
                    </div>
                </div>
                <!-- Main-body end -->

                <div id="styleSelector">

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
   
<script>
    $(document).ready(function () {        
         $('.table').DataTable({    
            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",   
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Filtrar Datos de Estudiantes Matriculados:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "<span class='fa fa-angle-double-left'></span>",
                    "sLast": "<span class='fa fa-angle-double-right'></span>",
                    "sNext": "<span class='fa fa-angle-right'></span>",
                    "sPrevious": "<span class='fa fa-angle-left'></span>"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }      
        }); 
        $('#FiltradoTable').DataTable();
        $('.dataTables_length').addClass('bs-select'); 
    });
</script>
{% endblock %}