{% extends 'layouts/master.html' %}
{% block content %}
{% load static %}


<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page-header start -->
                <div class="page-header card">
                    <div class="row align-items-end">
                        <div class="col-lg-8">
                            <div class="page-header-title">
                                <i class="icofont icofont-chart-arrows-axis bg-c-pink"></i>
                                <div class="d-inline">
                                    <h4>Registro de Nivel de Estudio</h4>
                                </div>
                            </div>
                        </div>                       
                    </div>
                </div>
                <!-- Page-header end -->

                <!-- Page body start -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- Input Alignment card start -->
                            <div class="card">
                                <div class="card-header">                                    
                                    <h5>Añadir Un Nuevo Nivel de Estudio</h5>
                                    <span>Ingrese un código y una descripción para el nuevo Nivel</span>
                                    <div class="card-header-right"><i
                                        class="icofont icofont-spinner-alt-5"></i></div>
                                </div>
                                <div class="card-block">
                                    <form method="post">
                                        {% csrf_token %}                                       
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Descripción</label>
                                            <div class="col-sm-8">
                                                {{ form.nnivel }}
                                            </div>
                                        </div>                                         
                                        <div class="panel-footer color-footer">
                                            <button type="submit" class="btn btn-primary">Guardar</button>
                                        </div>                                       
                                    </form>                                    
                                </div>
                            </div>
                            <!-- Input Alignment card end -->
                        </div>
                    </div>
                </div>
                <!-- Page body end -->
            </div>
        </div>
        <!-- Main-body end -->
        <div id="styleSelector">
        </div>
    </div>
</div>
{% endblock %}      

{% block js %}
<script type="text/javascript" src="{% static 'assets/js/modernizr/css-scrollbars.js' %}"></script>
<!-- classie js -->
<script type="text/javascript" src="{% static 'assets/js/classie/classie.js' %}"></script>

{% endblock js %}