{% extends 'layouts/master.html' %}
{% block content %}
{% load static %}

<div class="pcoded-main-container">
    <div class="pcoded-wrapper">

        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- Main-body start -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- Page-header start -->
                        <div class="page-header card">
                            <div class="row align-items-end">
                                <div class="col-lg-8">
                                    <div class="page-header-title">
                                        <i class="icofont icofont-chart-bar-graph bg-c-blue"></i>
                                        <div class="d-inline">
                                            <h4>Detalle de Pago</h4>
                                            <span><strong>Código de Matricula: </strong>{{ pagosobj.idestudiante.nmatricula }}</span>
                                            <ul><span><strong>Estudiante: </strong>{{ pagosobj.idestudiante }}</span></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Page-header end -->

                        <!-- Page-body start -->

                        <div class="row">
                            <!-- Column -->
                            <div class="col-lg-4 col-xlg-3 col-md-5">
                                <div class="card">
                                    <div class="card-body">                                        
                                        <center class="m-t-30"> <img src="{{ pagosobj.voucher.url }}" width="200" height="372" />
                                            <hr>
                                            <h6 class="card-subtitle">Concepto de Pago:</h6>                                            
                                            <h5 class="card-title m-t-10">{{ pagosobj.concepto }}</h5>
                                        </center>
                                    </div>                                   
                                    <!--<div class="card-body">
                                        <small class="text-muted">Email</small>
                                            <h6>hannagover@gmail.com</h6>
                                        <small class="text-muted p-t-30 db">Teléfono</small>
                                            <h6>{{estudiante.telefono}}</h6>
                                        <small class="text-muted p-t-30 db">Direccion</small>
                                            <h6>{{ estudiante.direccion }}</h6>
                                        <div class="map-box">
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d470029.1604841957!2d72.29955005258641!3d23.019996818380896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C+Gujarat!5e0!3m2!1sen!2sin!4v1493204785508"
                                                width="100%" height="150" frameborder="0" style="border:0" allowfullscreen>
                                            </iframe>
                                        </div>-->
                                        <!--<small class="text-muted p-t-30 db">Social Profile</small>
                                        <br />
                                        <button class="btn btn-circle btn-secondary">
                                            <i class="fab fa-facebook-f"></i>
                                        </button>
                                        <button class="btn btn-circle btn-secondary">
                                            <i class="fab fa-twitter"></i>
                                        </button>
                                        <button class="btn btn-circle btn-secondary">
                                            <i class="fab fa-youtube"></i>
                                        </button>
                                    </div>-->
                                </div>
                            </div>
                            <!-- Column -->
                            <!-- Column -->
                            <div class="col-lg-8 col-xlg-9 col-md-7">
                                <div class="card">
                                    <div class="card-body">                                                                               
                                        <table class="table table-user-information">
                                            <tbody>
                                                <tr>                                                     
                                                    <td>Matricula:</td>
                                                    <td>{{ pagosobj.idestudiante.nmatricula }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Estudiante:</td>
                                                    <td>{{ pagosobj.idestudiante }}</td>
                                                </tr>                                               
                                                <tr>
                                                    <td>Grado:</td>
                                                    <td>{{pagosobj.idestudiante.grado}}</td>
                                                </tr>                                                
                                                <tr>
                                                    <td>Turno:</td>
                                                    <td>{{ pagosobj.idestudiante.turno }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Nivel:</td>
                                                    <td>{{ pagosobj.idestudiante.nivel }}</td>
                                                </tr>                                                
                                                <tr>
                                                    <td>Concepto:</td>
                                                    <td>{{ pagosobj.concepto }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Monto:</td>
                                                    <td>{{ pagosobj.monto }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Fecha de Pago:</td>
                                                    <td>{{ pagosobj.fecha_pago }}</td>
                                                </tr>                                                                                          
                                            </tbody>                                        
                                        </table>
                                        <hr> 
                                        <br>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <a href="{% url 'academico:pagos_list' %}">
                                                    <button type="button" class="btn btn-outline-success">
                                                      Volver
                                                    </button>
                                                </a>
                                            </div>
                                        </div>                           
                                    </div>
                                </div>
                            </div>
                            <!-- Column -->
                        </div>

                        <!-- Page-body end -->
                    </div>
                </div>
                <!-- Main-body end -->

                <div id="styleSelector">

                </div>
            </div>
        </div>
    </div>
</div>



<script src="{% static 'assets/profile/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="{% static 'assets/profile/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/profile/dist/js/app-style-switcher.js' %}"></script>
<!--Wave Effects -->
<script src="{% static 'assets/profile/dist/js/waves.js' %}"></script>
<!--Menu sidebar -->
<script src="{% static 'assets/profile/dist/js/sidebarmenu.js' %}"></script>
<!--Custom JavaScript -->
<script src="{% static 'assets/profile/dist/js/custom.js' %}"></script>

{% endblock %}