
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>                
              </div>
              <div class="modal-body">
                {% csrf_token%}
                <form>                    
                    <div class="form-group">
                        <label class="col-sm-2 col-form-label">Monto</label>
                        <div class="col-sm-12">
                            {{ form.concepto }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-form-label">Monto</label>
                        <div class="col-sm-12">
                            {{ form.monto }}
                        </div>
                    </div>       
                    <div class="form-group">
                        <label class="col-sm-2 col-form-label" for="id_fecha_pago">Fecha</label>
                        <div class="col-sm-12" type="date">
                            {{ form.fecha_pago }}
                        </div>
                    </div>                                                                         
                    <div class="form-group">
                        <label class="col-sm-2 col-form-label">Turno</label>
                        <div class="col-sm-12">
                        {{ form.codturno }}
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="col-sm-2 col-form-label">Grado</label>
                        <div class="col-sm-12">
                        {{ form.codgrado }}
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="col-sm-10 col-form-label">Condición de Pago</label>
                        <div class="col-sm-4">
                        {{ form.pago_condicion }}
                        </div>
                    </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
              </div>
            </div>
          </div>

          <script>  
              $(function () {  
                  $("#id_fecha_pago").datetimepicker({  
                       format: 'd/m/Y',  
                       timepicker:false        
                  });
                  $(document).ready(function() {
                       $('.miselect').select2();
                  });                               
              });  
          </script>
          
