{% extends 'layouts/master.html' %}
{% block content %}
{% load static %}


<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page-header start -->
                <div class="page-header card">
                    <div class="row align-items-end">
                        <div class="col-lg-8">
                            <div class="page-header-title">
                                {% if pagosobj %}
                                <i class="icofont icofont-bank bg-c-blue"></i>
                                {% else %}
                                <i class="icofont icofont-bank bg-c-blue"></i>
                                {% endif %}
                                <div class="d-inline" >
                                    <h4>{% if pagosobj %} Editar {% else %} Registro de {% endif %} Pagos de Estudiantes</h4>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
                <!-- Page-header end -->

                <!-- Page body start -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- Input Alignment card start -->
                            <div class="card">
                                <div class="card-header">                                    
                                    <h5 class="text-warning">{% if pagosobj %}  Editando Registro de {% else %} Añadir Un Nuevo {% endif %} Pago</h5>
                                    <span>{% if pagosobj %} Modifique {% else %} Ingrese {% endif %} el estudiante, concepto, monto y fecha de pago.</span>
                                    <div class="card-header-right"><i
                                        class="icofont icofont-spinner-alt-5"></i></div>
                                </div>
                                <div class="card-block">
                                    <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}                                                                            
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Estudiante:</label>
                                            <div class="col-sm-8">
                                                {{ form.idestudiante }}                                                
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Concepto</label>
                                            <div class="col-sm-8">
                                                {{ form.concepto }}
                                            </div>
                                        </div>
                                        <div class="form-group row">                                            
                                            <label class="col-sm-2 col-form-label">Monto</label>
                                            <div class="col-sm-3">
                                                {{ form.monto }}                                                
                                            </div>
                                            
                                            <label class="col-sm-2 col-form-label">Fecha</label>
                                            <div class="col-sm-3">
                                                {{ form.fecha_pago }}
                                            </div>                                           
                                        </div>                                                                                                                                                                                                                                         
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Condición de Pago</label>
                                            <div class="col-sm-3">
                                               {{ form.pago_condicion }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Voucher de Pago</label>
                                            <div class="col-sm-3">
                                               {{ form.voucher }}
                                            </div>
                                        </div>
                                        <br><hr>
                                        <div class="panel-footer color-footer">
                                            <button type="submit" class="btn btn-primary">Guardar</button>
                                            <a href="{% url 'academico:pagos_list' %}">
                                                <button type="button" class="btn btn-outline-warning">
                                                  Cancelar
                                                </button>
                                            </a>
                                        </div>                                       
                                    </form>                                    
                                </div>                                
                            </div>                            
                            <!-- Input Alignment card end -->
                        </div>
                    </div>
                </div>
                <!-- Page body end -->                
            </div>
        </div>
        <!-- Main-body end -->
        <div id="styleSelector">
        </div>
    </div>
</div>
{% endblock %}      

{% block js %}
<script type="text/javascript" src="{% static 'assets/js/modernizr/css-scrollbars.js' %}"></script>
<!-- classie js -->
<script type="text/javascript" src="{% static 'assets/js/classie/classie.js' %}"></script>

<script>  
    $(function () {  
        $("#id_fecha_pago").datetimepicker({  
             format: 'd/m/Y',  
             timepicker:false        
        });
        $(document).ready(function() {
             $('.miselect').select2();
        });   
        $('.table').DataTable({
            "pageLength":2,
            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "<span class='fa fa-angle-double-left'></span>",
                    "sLast": "<span class='fa fa-angle-double-right'></span>",
                    "sNext": "<span class='fa fa-angle-right'></span>",
                    "sPrevious": "<span class='fa fa-angle-left'></span>"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
          }
        });

    });  
</script>

{% endblock js %}