{% extends 'layouts/master.html' %}
{% block content %}
{% load static %}
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">

        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- Main-body start -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- Page-header start -->
                        <div class="page-header card">
                            <div class="row align-items-end">
                                <div class="col-lg-8">
                                    <div class="page-header-title">
                                        <i class="icofont icofont-bank bg-c-blue"></i>
                                        <div class="d-inline">
                                            <h4>Lista - Relación de Pagos</h4>
                                            <span>Se muestra el listado.</span>
                                        </div>
                                    </div>
                                </div> 
                                <div class="col-lg-4">
                                    <div class="page-header-breadcrumb">                                                                        
                                        <a href="{% url 'academico:pagos_new' %}">
                                            <button type="button" class="btn btn-primary btn-outline-primary">
                                                <i class="icofont icofont-user-alt-3"></i>
                                                Nuevo
                                            </button>
                                        </a>                                       
                                    </div>
                                    
                                    <!--<div>
                                        <div class="dropdown-header">Acciones:</div>
                                        <a class="dropdown-item" onclick="return abrir_modal('{% url 'academico:pagos_new' %}')" href="#"><i class="far fa-calendar-plus"></i> Nuevo</a>          
                                      </div>-->
                                    <!--<div class="page-header-breadcrumb">                                                                        
                                        <a href="{% url 'academico:pagos_new' %}">
                                            <button type="button" class="btn btn-primary btn-outline-primary">
                                                <i class="icofont icofont-user-alt-3"></i>
                                                Cancelar
                                            </button>
                                        </a>                                       
                                    </div>-->
                                </div>                               
                            </div>
                        </div>
                        <!-- Page-header end -->

                        <!-- Page-body start -->
                        <div class="page-body">
                            <!-- Basic table card start -->
                            <div class="card">
                                <div class="card-header">
                                    <div class="row">
                                        <!--<div class="col-lg-4">
                                            <div class="form-group">
                                                <a href="#" class="btn btn-primary">Exportar PDF</a>
                                            </div>
                                        </div>-->
                                    </div>
                                    <h5>Lista de Grados</h5>                                    
                                    <div class="card-header-right">
                                        <ul class="list-unstyled card-option">
                                            <li><i class="icofont icofont-simple-left "></i></li>
                                            <li><i class="icofont icofont-maximize full-card"></i></li>
                                            <li><i class="icofont icofont-minus minimize-card"></i></li>
                                            <!--<li><i class="icofont icofont-refresh reload-card"></i></li>
                                            <li><i class="icofont icofont-error close-card"></i></li>-->
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-block table-border-style">
                                    <div class="table-responsive">
                                        {% if not pagosobj %}
                                            <div class="alert alert-info">No hay datos para mostrar en la lista</div>
                                        {% else %}   	
                                        <table id="datatable-buttons" class="table table-striped table-bordered"  style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th align="center"><font size=2>Estudiante</font></th>
                                                    <th align="center"><font size=2>Concepto de Pago</font></th>
                                                    <th align="center"><font size=2>Pago Realizado</font></th>
                                                    <th align="center"><font size=2>Monto</font></th>
                                                    <th align="center"><font size=2>Condición</font></th>                                                    
                                                    <th align="center"><font size=2>Detalles</font></th>  
                                                    <th class="all"><label class="label label-info">ACCIONES</label></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for item in pagosobj %}
                                                <tr>
                                                    <td align="center"><font size=2>{{ item.idestudiante.lastname }}, {{ item.idestudiante.firstname }}</font></td>
                                                    <td align="center"><font size=2>{{ item.concepto }}</font></td>
                                                    <td  align="center"><font size=2>{{ item.fecha_pago }}</font></td>
                                                    <td  align="center"><font size=2>{{ item.monto }}</font></td>
                                                    <td><label class="badge badge-success"> {{ item.pago_condicion|yesno:"Pagó,Debe" }} </label></td>                                                    
                                                    <td>
                                                        <a href="{% url 'academico:pagos_detalle' item.id %}">
                                                            <label class="badge badge-primary"> Ver </label>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="{% url 'academico:pagos_edit' item.id %}">
                                                            <button type="button" class="btn btn-sm btn-warning btn-outline-warning">
                                                                <i class="icofont icofont-edit"></i>                                                             
                                                            </button>
                                                        </a>
                                                        <a href="{% url 'academico:pagos_inactivar' item.id %}">
                                                            <button type="button" class="btn btn-sm btn-danger btn-outline-danger">
                                                                <i class="icofont icofont-trash"></i>                                                             
                                                            </button>
                                                        </a>                                                                                                              
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <!-- Basic table card end -->
                        </div>
                        <!-- Page-body end -->
                    </div>
                </div>
                <!-- Main-body end -->

                <div id="styleSelector">

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
   
<script>
    $(document).ready(function () {        
         $('.table').DataTable({    
            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",   
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Filtrar Datos:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "<span class='ti ti-angle-double-left'></span>",
                    "sLast": "<span class='ti ti-angle-double-right'></span>",
                    "sNext": "<span class='icofont icofont-arrow-right'></span>",
                    "sPrevious": "<span class='icofont icofont-arrow-left'></span>"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }      
        }); 
        $('#FiltradoTable').DataTable();
        $('.dataTables_length').addClass('bs-select'); 
    });
</script>
{% endblock %}