{% load static %}
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="row">
                        <!-- card1 start -->
                        <div class="col-md-6 col-xl-4">
                            <a href="{% url 'academico:calificacion_list' %}">
                                <div class="card widget-card-1">
                                    <div class="card-block-small">
                                        <i class="icofont icofont-notepad bg-c-blue card1-icon"></i>
                                        <!--<span class="text-c-blue f-w-600">CALIFICACIONES</span>-->
                                        <h4 class="text-c-blue f-w-600">Calificaciones</h4>
                                        <div>
                                            <span class="f-left m-t-10 text-muted">
                                                <i class="text-c-blue f-16 icofont icofont-pencil m-r-10"></i>
                                                Listado de Calificaciones
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- card1 end -->
                        <!-- card1 start -->
                        <div class="col-md-6 col-xl-4">
                            <a href="{% url 'academico:pagos_new' %}">
                                <div class="card widget-card-1">
                                    <div class="card-block-small">
                                        <i class="icofont icofont-money bg-c-pink card1-icon"></i>
                                        <!--<span class="text-c-pink f-w-600">Registrar</span>-->
                                        <h4 class="text-c-pink f-w-600">Pagos</h4>
                                        <div>
                                            <span class="f-left m-t-10 text-muted">
                                                <i class="text-c-pink f-16 icofont icofont-calendar m-r-10"></i>
                                                Registro de Pagos
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- card1 end -->
                        <!-- card1 start -->
                        <div class="col-md-6 col-xl-4">
                            <a href="{% url 'academico:estudiante_list' %}">
                                <div class="card widget-card-1">
                                    <div class="card-block-small ">
                                        <i class="icofont icofont-group-students bg-c-green card1-icon"></i>
                                        <!--<span class="text-c-green f-w-600">Listar</span>-->
                                        <h4 class="text-c-green f-w-600">Estudiantes</h4>
                                        <div>
                                            <span class="f-left m-t-10 text-muted">
                                                <i class="text-c-green f-16 icofont icofont-school-bag m-r-10"></i>
                                                Listado de Estudiantes
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- card1 end -->
                        <!-- card1 start -->
                        <div class="col-md-6 col-xl-4">
                            <a href="{% url 'academico:curso_list' %}">
                                <div class="card widget-card-1">
                                    <div class="card-block-small">
                                        <i class="icofont icofont-book-alt bg-c-yellow card1-icon"></i>
                                        <!--<span class="text-c-yellow f-w-600">Followers</span>-->
                                        <h4 class="text-c-yellow f-w-600">Cursos</h4>
                                        <div>
                                            <span class="f-left m-t-10 text-muted">
                                                <i class="text-c-yellow f-16 icofont icofont-ebook m-r-10"></i>
                                                Listado de Cursos
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <a href="{% url 'academico:docente_list' %}">
                                <div class="card widget-card-1">
                                    <div class="card-block-small">
                                        <i class="icofont icofont-teacher bg-c-green card1-icon"></i>
                                        <!--<span class="text-c-yellow f-w-600">Followers</span>-->
                                        <h4 class="text-c-yellow f-w-600">Docentes</h4>
                                        <div>
                                            <span class="f-left m-t-10 text-muted">
                                                <i class="text-c-green f-16 icofont icofont-black-board m-r-10"></i>
                                                Registro de Docentes
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <a href="{% url 'academico:pagos_list' %}">
                                <div class="card widget-card-1">
                                    <div class="card-block-small">
                                        <i class="icofont icofont-pay bg-c-blue card1-icon"></i>
                                        <!--<span class="text-c-yellow f-w-600">Followers</span>-->
                                        <h4 class="text-c-blue f-w-600">Pagos</h4>
                                        <div>
                                            <span class="f-left m-t-10 text-muted">
                                                <i class="text-c-blue f-16 icofont icofont-credit-card m-r-10"></i>
                                                Listado de Pagos
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- card1 end -->
                        <!-- Statestics Start -->
                        <!--<div class="col-md-12 col-xl-8">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Statestics</h5>
                                    <div class="card-header-left ">
                                    </div>
                                    <div class="card-header-right">
                                        <ul class="list-unstyled card-option">
                                            <li><i class="icofont icofont-simple-left "></i></li>
                                            <li><i class="icofont icofont-maximize full-card"></i></li>
                                            <li><i class="icofont icofont-minus minimize-card"></i></li>
                                            <li><i class="icofont icofont-refresh reload-card"></i></li>
                                            <li><i class="icofont icofont-error close-card"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <div id="statestics-chart" style="height:517px;"></div>
                                </div>
                            </div>
                        </div>-->
                       
                        <!-- Data widget start -->
                        <!--<div class="col-md-12 col-xl-12">
                            <div class="card project-task">
                                <div class="card-header">
                                    <div class="card-header-left ">
                                        <h4>Busquedas</h4>
                                    </div>-->
                                    <!--<div class="card-header-right">
                                        <ul class="list-unstyled card-option">
                                            <li><i class="icofont icofont-simple-left "></i></li>
                                            <li><i class="icofont icofont-maximize full-card"></i></li>
                                            <li><i class="icofont icofont-minus minimize-card"></i></li>
                                            <li><i class="icofont icofont-refresh reload-card"></i></li>
                                            <li><i class="icofont icofont-error close-card"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-block p-b-10">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Project & Task</th>
                                                    <th>Time Spents</th>
                                                </tr>
                                            </thead>-->
                                            <!--<tbody>
                                                <tr>
                                                    <td>
                                                        <a href="#">
                                                            <div class="task-contain">                                                                     
                                                                <h6 class="bg-c-green d-inline-block text-center">GC</h6>                                                        
                                                                <p class="d-inline-block m-l-20">Gestión de Cursos</p>                                                    
                                                            </div>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <p class="d-inline-block m-r-20">4 : 36</p>
                                                        <div class="progress d-inline-block">
                                                            <div class="progress-bar bg-c-green" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>                                                
                                                <tr>
                                                    <td>
                                                        <a href="#">
                                                            <div class="task-contain">
                                                                <h6 class="bg-c-yellow d-inline-block text-center">DP</h6>
                                                                <p class="d-inline-block m-l-20">Detalle de Pagos</p>
                                                            </div>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <p class="d-inline-block m-r-20">4 : 36</p>
                                                        <div class="progress d-inline-block">
                                                            <div class="progress-bar bg-c-yellow" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="task-contain">
                                                            <h6 class="bg-c-pink d-inline-block text-center">L</h6>
                                                            <p class="d-inline-block m-l-20">Logo Design</p>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <p class="d-inline-block m-r-20">4 : 36</p>
                                                        <div class="progress d-inline-block">
                                                            <div class="progress-bar bg-c-yellow" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>-->
                                                <!--<tr>
                                                    <td>
                                                        <div class="task-contain">
                                                            <h6 class="bg-c-green d-inline-block text-center">A</h6>
                                                            <p class="d-inline-block m-l-20">Appestia landing Page</p>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <p class="d-inline-block m-r-20">4 : 36</p>
                                                        <div class="progress d-inline-block">
                                                            <div class="progress-bar bg-c-green" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>-->
                                                <!--<tr>
                                                    <td>
                                                        <div class="task-contain">
                                                            <h6 class="bg-c-blue d-inline-block text-center">L</h6>
                                                            <p class="d-inline-block m-l-20">Logo Design</p>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <p class="d-inline-block m-r-20">4 : 36</p>
                                                        <div class="progress d-inline-block">
                                                            <div class="progress-bar bg-c-blue" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                        <!--<div class="col-md-12 col-xl-6">
                            <div class="card add-task-card">
                                <div class="card-header">
                                    <div class="card-header-left">
                                        <h5>To do list</h5>
                                    </div>
                                    <div class="card-header-right">
                                        <button class="btn btn-card btn-primary">Add task </button>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <div class="to-do-list">
                                        <div class="checkbox-fade fade-in-primary d-block">
                                            <label class="check-task d-block">
                                                <input type="checkbox" value="">
                                                <span class="cr">
                                                    <i class="cr-icon icofont icofont-ui-check txt-default"></i>
                                                </span>
                                                <span><h6>Schedule Meeting with Compnes <span class="label bg-c-green m-l-10 f-10">2 week</span></h6></span>
                                                <div class="task-card-img m-l-40">
                                                    <a href="#!"><img src="{% static 'assets/images/avatar-2.jpg' %}" data-toggle="tooltip" title="Lary Doe" alt="" class="img-40"></a>
                                                    <a href="#!"><img src="{% static 'assets/images/avatar-3.jpg' %}" data-toggle="tooltip" title="Alia" alt="" class="img-40 m-l-10"></a>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="to-do-list">
                                        <div class="checkbox-fade fade-in-primary d-block">
                                            <label class="check-task d-block">
                                                <input type="checkbox" value="">
                                                <span class="cr">
                                                    <i class="cr-icon icofont icofont-ui-check txt-default"></i>
                                                </span>
                                                <span><h6>Meeting With HOD's and borad</h6><p class="text-muted m-l-40">23 january 2003</p></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="to-do-list">
                                        <div class="checkbox-fade fade-in-primary d-block">
                                            <label class="check-task d-block">
                                                <input type="checkbox" value="">
                                                <span class="cr">
                                                    <i class="cr-icon icofont icofont-ui-check txt-default"></i>
                                                </span>
                                                <span><h6>Create template, admin with responsive<span class="label bg-c-pink m-l-10">2 week</span></h6></span>
                                                <div class="task-card-img m-l-40">
                                                    <a href="#!"><img src="{% static 'assets/images/avatar-2.jpg' %}" data-toggle="tooltip" title="Alia" alt="" class="img-40"></a>
                                                    <a href="#!"><img src="{% static 'assets/images/avatar-3.jpg' %}" data-toggle="tooltip" title="Suzen" alt="" class="img-40 m-l-10"></a>
                                                    <a href="#!"><img src="{% static 'assets/images/avatar-4.jpg' %}" data-toggle="tooltip" title="Lary Doe" alt="" class="img-40 m-l-10"></a>
                                                    <a href="#!"><img src="{% static 'assets/images/avatar-2.jpg' %}" data-toggle="tooltip" title="Josephin Doe" alt="" class="img-40 m-l-10"></a>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="to-do-list">
                                        <div class="checkbox-fade fade-in-primary d-block">
                                            <label class="check-task d-block">
                                                <input type="checkbox" value="">
                                                <span class="cr">
                                                    <i class="cr-icon icofont icofont-ui-check txt-default"></i>
                                                </span>
                                                <span><h6>Meeting With HOD's and borad</h6>
                                                    <p class="text-muted m-l-40">23 january 2003</p></span>
                                                    <div class="task-card-img m-l-40">
                                                        <a href="#!"><img src="{% static 'assets/images/avatar-2.jpg' %}" data-toggle="tooltip" title="Lary Doe" alt="" class="img-40"></a>
                                                        <a href="#!"><img src="{% static 'assets/images/avatar-3.jpg' %}" data-toggle="tooltip" title="Alia" alt="" class="img-40 m-l-10"></a>
                                                        <a href="#!"><img src="{% static 'assets/images/avatar-2.jpg' %}" data-toggle="tooltip" title="Josephin Doe" alt="" class="img-40 m-l-10"></a>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                            <!-- Data widget End -->
                            
                        </div>
                </div>                
            </div>
                <div id="styleSelector">
                </div>
            </div>
        </div>
    </div>
