{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>CEBA - San Agustín</title>
    <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="CodedThemes">
    <meta name="keywords"
        content=" Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="CodedThemes">
    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap/css/bootstrap.min.css' %}">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/icon/themify-icons/themify-icons.css' %}">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/icon/icofont/css/icofont.css' %}">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/jquery.mCustomScrollbar.css' %}">
    <!-- DataTable-->
    <link href="{% static 'assets/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    
    <!-- Select2 -->
    
    <!--<link href="{% static 'admin/css/vendor/select2/select2.css' %}" type="text/css" media="screen" rel="stylesheet">
    <link href="{% static 'admin/css/autocomplete.css' %}" type="text/css" media="screen" rel="stylesheet">    
    <link href="{% static 'assets/select2-develop/select2-develop/dist/css/select2.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/select2-develop/select2-develop/dist/css/select2.css' %}" rel="stylesheet" />-->
    <link href="{% static 'assets/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet" />

    <!-- Profile -->
    <!--<link rel="canonical" href="https://www.wrappixel.com/templates/xtreme-admin-lite/" />-->
    <!--<link href="{% static 'assets/profile/dist/css/style.min.css' %}" rel="stylesheet">-->
    <!-- XDSoft DateTimePicker -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"
        integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />    

    <!-- Date Range Picker -->          
    <link href="{% static 'assets/daterangepicker-master/daterangepicker.css' %}" rel="stylesheet" />
    
    <link href="https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.bootstrap4.min.css" rel="stylesheet" />

</head>

<body>
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="ball-scale">
            <div class='contain'>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">

                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            {% block navbar %}
            {% include "includes/navbar.html" %}
            {% endblock navbar %}
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    {% block sidebar %}
                      {% include "includes/sidebar.html" %}
                    {% endblock sidebar %}
                    {% block content %}
                      {% include "includes/content.html" %}
                    {% endblock content %}
                    
                </div>                
            </div>            
        </div>        
    </div>    
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">¿Listo para Salir?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            </div>
            <div class="modal-body">Selecione "Cerrar Sesión" si está listo para finalizar su sesión actual.</div>
            <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
            <a class="btn btn-primary" href="{% url 'base:logout' %}">Salir</a>
            </div>
        </div>
        </div>
    </div>
    
    <div class="modal fade" id="popup"></div>
    <!-- Warning Section Starts -->
    <!-- Older IE warning message -->
    <!--[if lt IE 9]>
<div class="ie-warning">
    <h1>Warning!!</h1>
    <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
    <div class="iew-container">
        <ul class="iew-download">
            <li>
                <a href="http://www.google.com/chrome/">
                    <img src="assets/images/browser/chrome.png" alt="Chrome">
                    <div>Chrome</div>
                </a>
            </li>
            <li>
                <a href="https://www.mozilla.org/en-US/firefox/new/">
                    <img src="assets/images/browser/firefox.png" alt="Firefox">
                    <div>Firefox</div>
                </a>
            </li>
            <li>
                <a href="http://www.opera.com">
                    <img src="assets/images/browser/opera.png" alt="Opera">
                    <div>Opera</div>
                </a>
            </li>
            <li>
                <a href="https://www.apple.com/safari/">
                    <img src="assets/images/browser/safari.png" alt="Safari">
                    <div>Safari</div>
                </a>
            </li>
            <li>
                <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                    <img src="assets/images/browser/ie.png" alt="">
                    <div>IE (9 & above)</div>
                </a>
            </li>
        </ul>
    </div>
    <p>Sorry for the inconvenience!</p>
</div>
<![endif]-->
    <!-- Warning Section Ends -->    
   
    <!-- Required Jquery -->
    <script type="text/javascript" src="{% static 'assets/js/jquery/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/jquery-ui/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/popper.js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="{% static 'assets/js/jquery-slimscroll/jquery.slimscroll.js' %}"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="{% static 'assets/js/modernizr/modernizr.js' %}"></script>
    <!-- am chart -->
    <script src="{% static 'assets/pages/widget/amchart/amcharts.min.js' %}"></script>
    <script src="{% static 'assets/pages/widget/amchart/serial.min.js' %}"></script>
    <!-- Todo js -->
    <script type="text/javascript " src="{% static 'assets/pages/todo/todo.js' %}"></script>
    <!-- Custom js -->
    
    {% block js %}   
    {% endblock %}
     

    <script type="text/javascript" src="{% static 'assets/pages/dashboard/custom-dashboard.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/script.js' %}"></script>
    <script type="text/javascript " src="{% static 'assets/js/SmoothScroll.js' %}"></script>
    <script src="{% static 'assets/js/pcoded.min.js' %}"></script>
    <script src="{% static 'assets/js/demo-12.js' %}"></script>
    <script src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <!-- Page level plugins -->
    <script src="{% static 'assets/vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <!-- Select2 -->
    <!--<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/vendor/select2/select2.full.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
    <script type="text/javascript" src="[% static 'admin/js/autocomplete.js' %}"></script>
    <script src="{% static 'assets/select2-develop/select2-develop/dist/js/select2.min.js' %}"></script>
    <script src="{% static 'assets/select2-develop/select2-develop/dist/js/select2.full.js' %}"></script>
    <script src="{% static 'assets/select2-develop/select2-develop/dist/js/select2.full.min.js' %}"></script>-->
    <script src="{% static 'assets/select2-4.0.13/js/select2.min.js' %}"></script>

    <!-- XDSoft DateTimePicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"
        integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

    <script src="{% static 'assets/daterangepicker-master/moment.min.js' %}"></script>
    <script src="{% static 'assets/daterangepicker-master/daterangepicker.js' %}"></script>  
    <script src="{% static 'pagos/js/report.js' %}"></script>

    

    <script>
        $(document).ready(function () {
            jQuery.datetimepicker.setLocale('es');
        });
    </script>      

    <script>
        var $window = $(window);
        var nav = $('.fixed-button');
        $window.scroll(function () {
            if ($window.scrollTop() >= 200) {
                nav.addClass('active');
            }
            else {
                nav.removeClass('active');
            }
        });
    </script>

    {% block control_modal %}
    <script>
        function abrir_modal(url) {
            $("#popup").load(url, function () {
                $(this).modal({
                    backdrop: 'static',
                    keyboard: false
                })
                $(this).modal('show');
            });
            return false;
        }

        function cerrar_modal() {
            $("#popup").modal('hide');
            return false;
        }

        function mensaje(msg, color = 'green') {
            if (color == "success") {
                color = "green";
            }
            if (color == "error") {
                color = "red";
            }
            $.alert({
                tittle: '',
                theme: 'material',
                type: color,
                content: msg
            });
        }

        {% if messages %}
        {% for message in messages %}
        mensaje("{{ message }}", "{{ message.tags }}");
        {% endfor %}
        {% endif %}
    </script>
    {% endblock control_modal %}
</body>

</html>