{% extends 'layouts/master.html' %}
{% block content %}
{% load static %}


<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page-header start -->
                <div class="page-header card">
                    <div class="row align-items-end">
                        <div class="col-lg-8">
                            <div class="page-header-title">
                                {% if cursoobj %}
                                <i class="icofont icofont-file-code bg-c-blue"></i>
                                {% else %}
                                <i class="icofont icofont-file-code bg-c-blue"></i>
                                {% endif %}
                                <div class="d-inline">
                                    <h4>{% if cursoobj %} Editar {% else %} Registro de {% endif %} Curso</h4>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
                <!-- Page-header end -->

                <!-- Page body start -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- Input Alignment card start -->
                            <div class="card">
                                <div class="card-header">                                    
                                    <h5>{% if cursoobj %} Editando {% else %} Añadir Un Nuevo {% endif %} Curso</h5>
                                    <span>{% if cursoobj %} Modifique {% else %} Ingrese un {% endif %} código, nombre y seleccione nivel y grado de estudio.</span>
                                    <div class="card-header-right"><i
                                        class="icofont icofont-spinner-alt-5"></i></div>
                                </div>
                                <div class="card-block">
                                    <form method="post">
                                        {% csrf_token %}                                    
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">CURSO</label>
                                            <div class="col-sm-8">
                                                {{ form.fullname }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">NOMBRE CORTO</label>
                                            <div class="col-sm-8">
                                                {{ form.shortname }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">DESCRIPCION</label>
                                            <div class="col-sm-8">
                                                {{ form.summary }}
                                            </div>
                                        </div>        
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">NIVEL</label>
                                            <div class="col-sm-8">
                                                {{ form.nivel }}
                                            </div>
                                        </div>                   
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">TURNO</label>
                                            <div class="col-sm-8">
                                                {{ form.turno }}
                                            </div>
                                        </div>    
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">GRADO</label>
                                            <div class="col-sm-8">
                                                {{ form.grado }}
                                            </div>
                                        </div>
                                        <br>
                                        <hr>    
                                        <div class="panel-footer color-footer">
                                            <button type="submit" class="btn btn-primary">Guardar</button>
                                            <a href="{% url 'academico:curso_list' %}">
                                                <button type="button" class="btn btn-outline-warning">
                                                  Cancelar
                                                </button>
                                            </a>
                                        </div>                                       
                                    </form>                                    
                                </div>
                            </div>
                            <!-- Input Alignment card end -->
                        </div>
                    </div>
                </div>
                <!-- Page body end -->
            </div>
        </div>
        <!-- Main-body end -->
        <div id="styleSelector">
        </div>
    </div>
</div>
{% endblock %}      

{% block js %}
<script type="text/javascript" src="{% static 'assets/js/modernizr/css-scrollbars.js' %}"></script>
<!-- classie js -->
<script type="text/javascript" src="{% static 'assets/js/classie/classie.js' %}"></script>

<script>
    $(function () {

        $('.select2').select2({

        });

        $('select[name="curso"]').on('change', function () {            
        });

    });
</script>

{% endblock js %}