{% extends 'layouts/master.html' %}
{% block content %}
{% load static %}

<div class="pcoded-main-container">
    <div class="pcoded-wrapper">

        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- Main-body start -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- Page-header start -->
                        <div class="page-header card">
                            <div class="row align-items-end">
                                <div class="col-lg-8">
                                    <div class="page-header-title">
                                        <i class="icofont icofont-book-alt bg-c-blue"></i>
                                        <div class="d-inline">
                                            <h4>Listado De Cursos</h4>
                                            <span>Se muestra el listado de los Cursos agregados.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="page-header-breadcrumb">
                                        {% if perms.edit_curso %}                                                                        
                                        <a href="{% url 'academico:curso_new' %}">
                                            <button type="button" class="btn btn-primary btn-outline-primary">
                                                <i class="icofont icofont-group-students"></i>
                                                Nuevo
                                            </button>
                                        </a> 
                                        {% endif %}                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Page-header end -->

                        <!-- Page-body start -->
                        <div class="page-body">
                            <!-- Basic table card start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5>Lista de Cursos</h5>
                                    <div class="card-header-right">
                                        <ul class="list-unstyled card-option">
                                            <li><i class="icofont icofont-simple-left "></i></li>
                                            <li><i class="icofont icofont-maximize full-card"></i></li>
                                            <li><i class="icofont icofont-minus minimize-card"></i></li>
                                            <!--<li><i class="icofont icofont-refresh reload-card"></i></li>
                                            <li><i class="icofont icofont-error close-card"></i></li>-->
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-block table-border-style">
                                    <div class="table-responsive">
                                        {% if not cursoobj %}
                                            <div class="alert alert-info">No hay datos para mostrar en la lista</div>
                                        {% else %} 
                                        <table id="botones" class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th align="center"><font size=2>CURSO</th>
                                                    <th align="center"><font size=2>NOMBRE CORTO</th>
                                                    <th align="center"><font size=2>NIVEL</th>
                                                    <th align="center"><font size=2>TURNO</th>
                                                    <th align="center"><font size=2>GRADO</th>
                                                    <th class="all"><label class="label label-info">ACCIONES</label></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for item in cursoobj %}
                                                <tr>
                                                    <td><font size=2>{{ item.fullname }}</font></td>
                                                    <td><font size=2>{{ item.shortname }}</font></td>
                                                    <td><font size=2>{{ item.nivel }}</font></td>
                                                    <td><font size=2>{{ item.turno }}</font></td>
                                                    <td><font size=2>{{ item.grado }}</font></td>
                                                    <td>
                                                        {% if perms.inv.edit_curso %}
                                                        <a href="{% url 'academico:curso_edit' item.id %}">
                                                            <button type="button" class="btn btn-sm btn-warning btn-outline-warning">
                                                                <i class="icofont icofont-edit"></i>                                                             
                                                            </button>
                                                        </a> 
                                                        <button class="btn btn-sm btn-danger btn-outline-danger">
                                                            <i class="icofont icofont-trash"></i>
                                                        </button>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <!-- Basic table card end -->
                        </div>
                        <!-- Page-body end -->
                    </div>
                </div>
                <!-- Main-body end -->

                <div id="styleSelector">

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.bootstrap4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.colVis.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
<script>
    $(document).ready(function() {
        $('#botones').DataTable( {
            dom: 'Bfrtip',
            buttons: [ 'print' ]
        });
    });
</script>
{% block js %}


<script>    

    $(document).ready(function () {        
         $('.table').DataTable({    
            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",   
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Filtrar Datos:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "<span class='ti ti-angle-double-left'></span>",
                    "sLast": "<span class='ti ti-angle-double-right'></span>",
                    "sNext": "<span class='icofont icofont-arrow-right'></span>",
                    "sPrevious": "<span class='icofont icofont-arrow-left'></span>"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }      
        }); 
        $('#FiltradoTable').DataTable();
        $('.dataTables_length').addClass('bs-select');  

            
    });
</script>





{% endblock %}