{% extends 'layouts/master.html' %}
{% block content %}
{% load static %}


<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page-header start -->
                <div class="page-header card">
                    <div class="row align-items-end">
                        <div class="col-lg-8">
                            <div class="page-header-title">
                                <i class="icofont icofont-teacher bg-c-green"></i>
                                <div class="d-inline">
                                    {% if docenteobj %}
                                    <div class="card-title">
                                        <h4>Editar Registro de Docente</h4>
                                    </div>
                                    {% else %}
                                    <div class="card-title">
                                        <h4>Registro de Docente</h4>
                                    </div>
                                    {% endif %} 
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
                <!-- Page-header end -->

                <!-- Page body start -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- Input Alignment card start -->
                            <div class="card">
                                <div class="card-header">                                    
                                    <h5>Añadir Un Nuevo Docente</h5>
                                    <span>Ingrese un código y nombre para el nuevo curso y seleccione nivel y grado de estudio.</span>
                                    <div class="card-header-right"><i
                                        class="icofont icofont-spinner-alt-5"></i></div>
                                </div>
                                <div class="card-block">
                                    <form method="POST">
                                        {% csrf_token %}                                        
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">DNI</label>                                            
                                            <div class="col-sm-8">
                                                {{ form.dni }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">NOMBRE</label>
                                            <div class="col-sm-8">
                                                {{ form.ndocente }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">APELLIDO</label>
                                            <div class="col-sm-8">
                                                {{ form.apedocente }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">DIRECCIÓN</label>
                                            <div class="col-sm-8">
                                                {{ form.direccion }}
                                            </div>
                                        </div>  
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">TELÉFONO</label>
                                            <div class="col-sm-8">
                                                {{ form.telefono }}
                                            </div>
                                        </div>   
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Email</label>
                                            <div class="col-sm-8">
                                                {{ form.email }}
                                            </div>
                                        </div>  
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">PROFESIÓN</label>
                                            <div class="col-sm-8">
                                                {{ form.profesion }}
                                            </div>
                                        </div>       
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">ESPECIALIDAD</label>
                                            <div class="col-sm-8">
                                                {{ form.especialidad }}
                                            </div>
                                        </div>       
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">EXPERIENCIA (Años)</label>
                                            <div class="col-sm-8">
                                                {{ form.experiencia }}
                                            </div>
                                        </div> 
                                        <br>   
                                        <hr>                                                                        
                                        <div class="panel-footer color-footer">
                                            <button type="submit" class="btn btn-success">Guardar</button>
                                            <a href="{% url 'academico:docente_list' %}">
                                                <button type="button" class="btn btn-outline-warning">
                                                  Cancelar
                                                </button>
                                            </a>
                                        </div>                                       
                                    </form>                                    
                                </div>
                            </div>
                            <!-- Input Alignment card end -->
                        </div>
                    </div>
                </div>
                <!-- Page body end -->
            </div>
        </div>
        <!-- Main-body end -->
        <div id="styleSelector">
        </div>
    </div>
</div>
{% endblock %}      

{% block js %}
<script type="text/javascript" src="{% static 'assets/js/modernizr/css-scrollbars.js' %}"></script>
<!-- classie js -->
<script type="text/javascript" src="{% static 'assets/js/classie/classie.js' %}"></script>

{% endblock js %}