{% extends 'layouts/master.html' %}
{% block content %}
{% load static %}


<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page-header start -->
                <div class="page-header card">
                    <div class="row align-items-end">
                        <div class="col-lg-8">
                            <div class="page-header-title">
                                <i class="icofont icofont-file-code bg-c-blue"></i>
                                <div class="d-inline">
                                    {% if obj %}
                                    <div class="card-title">
                                        <h4>Editar Registro de Estudiante</h4>
                                    </div>
                                    {% else %}
                                    <div class="card-title">
                                        <h4>Registro de Estudiante</h4>
                                    </div>
                                    {% endif %}                                    
                                    <!--<span>Lorem ipsum dolor sit <code>amet</code>, consectetur adipisicing elit</span>-->
                                </div>
                            </div>
                        </div>
                        <!--<div class="col-lg-4">
                            <div class="page-header-breadcrumb">
                                <ul class="breadcrumb-title">
                                    <li class="breadcrumb-item">
                                        <a href="index.html">
                                            <i class="icofont icofont-home"></i>
                                        </a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a href="#!">Form Components</a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a href="#!">Form Components</a>
                                    </li>
                                </ul>
                            </div>
                        </div>-->
                    </div>
                </div>
                <!-- Page-header end -->

                <!-- Page body start -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- Input Alignment card start -->
                            <div class="card">
                                <div class="card-header">                                    
                                    <h5>Input Alignment</h5>
                                    <span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>
                                    <div class="card-header-right"><i
                                        class="icofont icofont-spinner-alt-5"></i></div>
                                </div>
                                <div class="card-block">
                                    <form method="post">
                                        {% csrf_token %}
                                        <div class="card-block">
                                            <div class="input-group">
                                                <input type="text" class="form-control" autocomplete="off" name="search" aria-label="Text input with dropdown button">
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">Buscar</button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" href="#">Action</a>
                                                        <a class="dropdown-item" href="#">Another action</a>
                                                        <a class="dropdown-item" href="#">Something else here</a>
                                                        <div role="separator" class="dropdown-divider"></div>
                                                        <a class="dropdown-item" href="#">Separated link</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">DNI</label>                                            
                                            <div class="col-sm-8">
                                                {{ form.dni }}
                                            </div>
                                        </div>                                                                               
                                        <div class="panel-footer color-footer">
                                            <button type="submit" class="btn btn-primary">Guardar</button>
                                        </div>                                       
                                    </form>                                    
                                </div>
                            </div>
                            <!-- Input Alignment card end -->
                        </div>
                    </div>
                </div>
                <!-- Page body end -->
            </div>
        </div>
        <!-- Main-body end -->
        <div id="styleSelector">
        </div>
    </div>
</div>
{% endblock %}      

{% block js %}
<script type="text/javascript" src="{% static 'assets/js/modernizr/css-scrollbars.js' %}"></script>
<!-- classie js -->
<script type="text/javascript" src="{% static 'assets/js/classie/classie.js' %}"></script>

{% endblock js %}



<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
               

                <!-- Page body start -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-10">
                            <!-- Input Alignment card start -->
                            <div class="card">
                                <div class="card-header">                                    
                                    <h5>Buscar</h5>                                    
                                </div>
                                <div class="card-block">
                                    <div class="input-group">
                                        <input type="text" class="form-control" autocomplete="off" name="search" aria-label="Text input with dropdown button">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">Buscar</button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                                <div role="separator" class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Separated link</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Input Alignment card end -->
                        </div>
                    </div>
                </div>
                <!-- Page body end -->
            </div>
        </div>
        <!-- Main-body end -->
        <div id="styleSelector">
        </div>
    </div>
</div>
