{% extends 'layouts/master.html' %}
{% block content %}
{% load static %}


<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page-header start -->
                <div class="page-header card">
                    <div class="row align-items-end">
                        <div class="col-lg-8">
                            <div class="page-header-title">
                                <i class="icofont icofont-file-code bg-c-blue"></i>
                                <div class="d-inline">
                                    {% if estudianteobj %}
                                    <div class="card-title">
                                        <h4>Editar Registro de Estudiante</h4>
                                    </div>
                                    {% else %}
                                    <div class="card-title">
                                        <h4>Registro de Estudiante</h4>
                                    </div>
                                    {% endif %}                                    
                                    <!--<span>Lorem ipsum dolor sit <code>amet</code>, consectetur adipisicing elit</span>-->
                                </div>
                            </div>
                        </div>
                        <!--<div class="col-lg-4">
                            <div class="page-header-breadcrumb">
                                <ul class="breadcrumb-title">
                                    <li class="breadcrumb-item">
                                        <a href="index.html">
                                            <i class="icofont icofont-home"></i>
                                        </a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a href="#!">Form Components</a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a href="#!">Form Components</a>
                                    </li>
                                </ul>
                            </div>
                        </div>-->
                    </div>
                </div>
                <!-- Page-header end -->

                <!-- Page body start -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- Input Alignment card start -->
                            <div class="card">
                                <form method="post">
                                    <div class="card-header">                                    
                                        <h5>Registro General del Estudiante</h5>                                        
                                        <div class="card-header-right"><i
                                            class="icofont icofont-spinner-alt-5"></i></div>
                                    </div>
                                    <div class="card-block">
                                        <div class="card-header">                                    
                                            <h5><label class="label label-info" ><font size=3 >Datos Generales del Estudiante</font></label></h5>
                                            <div class="card-header-right"><i
                                                class="icofont icofont-spinner-alt-5"></i></div>
                                        </div>
                                        {% csrf_token %}
                                        <div class="form-group row">                                            
                                            <label class="col-sm-2 col-form-label">User Name</label>
                                            <div class="col-sm-3">
                                                {{ form.username }}                                                
                                            </div>                                            
                                            <!--<label class="col-sm-2 col-form-label">Password</label>
                                            <div class="col-sm-3">
                                                {{ form.password }}
                                            </div>-->                                           
                                        </div>  
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">DNI</label>                                            
                                            <div class="col-sm-8">
                                                {{ form.dni }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Nombres</label>
                                            <div class="col-sm-8">
                                                {{ form.firstname }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Apellidos</label>
                                            <div class="col-sm-8">
                                                {{ form.lastname }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Dirección</label>
                                            <div class="col-sm-3">
                                                {{ form.address }}
                                            </div>
                                            <label class="col-sm-2 col-form-label">Ciudad</label>
                                            <div class="col-sm-3">
                                                {{ form.city }}
                                            </div>
                                        </div>
                                        <div class="form-group row">                                            
                                            <label class="col-sm-2 col-form-label">Teléfono</label>
                                            <div class="col-sm-3">
                                                {{ form.phone1 }}                                                
                                            </div>
                                            
                                            <label class="col-sm-2 col-form-label">Móvil</label>
                                            <div class="col-sm-3">
                                                {{ form.phone2 }}
                                            </div>                                           
                                        </div>   
                                        <div class="form-group row">                                                                                        
                                            <label class="col-sm-2 col-form-label">Email</label>
                                            <div class="col-sm-3">
                                                {{ form.email }}
                                            </div>                                           
                                        </div>                                                                                
                                        <div class="card-header">                                    
                                            <h5><label class="label label-warning" ><font size=3 >Datos del Apoderado</font></label></h5>
                                            <div class="card-header-right"><i
                                                class="icofont icofont-spinner-alt-5"></i></div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">DNI</label>                                            
                                            <div class="col-sm-8">
                                                {{ form.dniapoderado }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Nombres</label>
                                            <div class="col-sm-8">
                                                {{ form.napoderado }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Apellidos</label>
                                            <div class="col-sm-8">
                                                {{ form.apeapoderado }}
                                            </div>
                                        </div>                                        
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Teléfono</label>
                                            <div class="col-sm-8">
                                                {{ form.telefonoapo }}
                                            </div>
                                        </div>
                                        <div class="card-header">                                    
                                            <h5><label class="label label-success" ><font size=3 >Datos Académicos</font></label></h5>
                                            <div class="card-header-right"><i
                                                class="icofont icofont-spinner-alt-5"></i></div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Número de Matricula</label>                                            
                                            <div class="col-sm-8">
                                                {{ form.nmatricula }}
                                            </div>
                                        </div>
                                        <div class="form-group row">                                            
                                            <label class="col-sm-2 col-form-label">Grado</label>
                                            <div class="col-sm-2">
                                                {{ form.grado }}                                                
                                            </div>                                            
                                            <label class="col-sm-1 col-form-label">Turno</label>
                                            <div class="col-sm-2">
                                                {{ form.turno }}
                                            </div>             
                                            <label class="col-sm-1 col-form-label">Nivel</label>
                                            <div class="col-sm-2">
                                                {{ form.nivel }}
                                            </div>                                
                                        </div>   
                                        <br>        
                                        <br>                                                                       
                                        <div class="panel-footer color-footer">
                                            <button type="submit" class="btn btn-primary">Guardar</button>
                                            <a href="{% url 'academico:estudiante_list' %}">
                                                <button type="button" class="btn btn-outline-warning">
                                                  Cancelar
                                                </button>
                                            </a>
                                        </div>                                                                                                                                                    
                                    </div>
                                </form>
                            </div>
                            <!-- Input Alignment card end -->
                        </div>
                    </div>
                </div>
                <!-- Page body end -->
            </div>
        </div>
        <!-- Main-body end -->
        <div id="styleSelector">
        </div>
    </div>
</div>
{% endblock %}      

{% block js %}
<script type="text/javascript" src="{% static 'assets/js/modernizr/css-scrollbars.js' %}"></script>
<!-- classie js -->
<script type="text/javascript" src="{% static 'assets/js/classie/classie.js' %}"></script>

{% endblock js %}
