{% extends 'layouts/master.html' %}
{% block content %}
{% load static %}

            
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- Main-body start -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- Page-header start -->
                        <div class="page-header card">
                            <div class="row align-items-end">
                                <div class="col-lg-8">
                                    <div class="page-header-title">
                                        <i class="icofont icofont-group-students bg-c-blue"></i>
                                        <div class="d-inline">
                                            <h4>Listado de Estudiantes</h4>
                                            <span>Se muestra el listado de los Niveles de Estudiantes Registrados.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="page-header-breadcrumb">                                                                        
                                        <a href="{% url 'academico:estudiante_new' %}">
                                            <button type="button" class="btn btn-primary btn-outline-primary">
                                                <i class="icofont icofont-group-students"></i>
                                                Nuevo
                                            </button>
                                        </a>                                       
                                    </div>
                                </div>                                
                            </div>
                        </div>
                        <!-- Page-header end -->
                        
                        <!-- Page-body start -->
                        <div class="page-body">
                            <!-- Basic table card start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5>Lista de Estudiantes</h5>
                                    <div class="card-header-right">
                                        <ul class="list-unstyled card-option">
                                            <li>
                                                <i class="icofont icofont-simple-left "></i>
                                            </li>
                                            <li>
                                                <i class="icofont icofont-maximize full-card"></i>
                                            </li>
                                            <li>
                                                <i class="icofont icofont-minus minimize-card"></i>
                                            </li>                                            
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-block table-border-style">
                                    <div class="table-responsive">
                                        {% if not estudianteobj %}
                                            <div class="alert alert-info">No hay Estudiantes para mostrar</div>
                                        {% else %}   		
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th align="center"><font size=2 >DNI</font></th>
                                                    <th align="center"><font size=2 >NOMBRES</font></th>
                                                    <th align="center"><font size=2 >APELLIDOS</font></th>
                                                    <th align="center"><font size=2 >GRADO</font></th>
                                                    <th align="center"><font size=2 >TURNO</font></th>                                                    
                                                    <th align="center"><font size=2 >NIVEL</font></th>
                                                    <th align="center"><font size=2 >DETALLE</font></th>
                                                    <th class="all"><label class="label label-info">ACCIONES</label></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for item in estudianteobj %}
                                                <tr>
                                                    <td><font size=2>{{ item.dni }}</font></td>
                                                    <td><font size=2>{{ item.firstname }}</font></td>
                                                    <td><font size=2>{{ item.lastname }}</font></td>
                                                    <td><font size=2>{{ item.grado }}</font></td>
                                                    <td><font size=2>{{ item.turno }}</font></td>
                                                    <td><font size=2>{{ item.nivel }}</font></td>
                                                    <td>
                                                        <a href="{% url 'academico:estudiante_detalle' item.id %}">
                                                            <label class="badge badge-primary"> Ver </label>
                                                        </a>
                                                    </td>
                                                    <!--<td>{{ item.codgrado }}</td>
                                                    <td>{{ item.codnivel }}</td>-->
                                                    <td>
                                                        <a href="{% url 'academico:estudiante_edit' item.id %}">
                                                            <button type="button" class="btn btn-sm btn-warning btn-outline-warning">
                                                                <i class="icofont icofont-edit"></i>                                                             
                                                            </button>
                                                        </a> 
                                                        <button class="btn btn-sm btn-danger btn-outline-danger"><i class="icofont icofont-trash"></i></button>
                                                    </td>
                                                </tr>                                                        
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <!-- Basic table card end -->                                      
                        </div>
                        <!-- Page-body end -->
                </div>
            </div>
            <!-- Main-body end -->

            <div id="styleSelector">

            </div>
        </div>
    </div>
</div>
</div>

<!--<div class="fixed-button">
	<a href="https://codedthemes.com/item/guru-able-admin-template/" target="_blank" class="btn btn-md btn-primary">
	  <i class="fa fa-shopping-cart" aria-hidden="true"></i> Upgrade To Pro
	</a>
</div>-->


<!-- Warning Section Starts -->
<!-- Older IE warning message -->
    <!--[if lt IE 9]>
<div class="ie-warning">
    <h1>Warning!!</h1>
    <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
    <div class="iew-container">
        <ul class="iew-download">
            <li>
                <a href="http://www.google.com/chrome/">
                    <img src="assets/images/browser/chrome.png" alt="Chrome">
                    <div>Chrome</div>
                </a>
            </li>
            <li>
                <a href="https://www.mozilla.org/en-US/firefox/new/">
                    <img src="assets/images/browser/firefox.png" alt="Firefox">
                    <div>Firefox</div>
                </a>
            </li>
            <li>
                <a href="http://www.opera.com">
                    <img src="assets/images/browser/opera.png" alt="Opera">
                    <div>Opera</div>
                </a>
            </li>
            <li>
                <a href="https://www.apple.com/safari/">
                    <img src="assets/images/browser/safari.png" alt="Safari">
                    <div>Safari</div>
                </a>
            </li>
            <li>
                <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                    <img src="assets/images/browser/ie.png" alt="">
                    <div>IE (9 & above)</div>
                </a>
            </li>
        </ul>
    </div>
    <p>Sorry for the inconvenience!</p>
</div>
<![endif]-->
<!-- Warning Section Ends -->
<!-- Required Jquery -->
<script type="text/javascript" src="assets/js/jquery/jquery.min.js"></script>
<script type="text/javascript" src="assets/js/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="assets/js/popper.js/popper.min.js"></script>
<script type="text/javascript" src="assets/js/bootstrap/js/bootstrap.min.js"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="assets/js/jquery-slimscroll/jquery.slimscroll.js"></script>
<!-- modernizr js -->
<script type="text/javascript" src="assets/js/modernizr/modernizr.js"></script>
<script type="text/javascript" src="assets/js/modernizr/css-scrollbars.js"></script>
<!-- classie js -->
<script type="text/javascript" src="assets/js/classie/classie.js"></script>
<!-- Custom js -->
<script type="text/javascript" src="assets/js/script.js"></script>
<script src="assets/js/pcoded.min.js"></script>
<script src="assets/js/demo-12.js"></script>
<script src="assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
{% endblock %}    

{% block js %}
   
<script>
    $(document).ready(function () {        
         $('.table').DataTable({    
            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",   
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Filtrar de Datos de Estudiantes:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "<span class='ti ti-angle-double-left'></span>",
                    "sLast": "<span class='ti ti-angle-double-right'></span>",
                    "sNext": "<span class='icofont icofont-arrow-right'></span>",
                    "sPrevious": "<span class='icofont icofont-arrow-left'></span>"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }      
        }); 
        $('#FiltradoTable').DataTable();
        $('.dataTables_length').addClass('bs-select'); 
    });
</script>
{% endblock %}