{% extends 'layouts/master.html' %}
{% block content %}
{% load static %}

<div class="row">
    <div class="pcoded-content col-md-12 col-lg-12">
        <div class="pcoded-inner-content">
            <!-- Main-body start -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- Page-header start -->
                    <div class="page-header card">
                        <div class="row align-items-end">
                            <div class="col-lg-8">
                                <div class="page-header-title">
                                    <i class="icofont icofont-file-code bg-c-blue"></i>
                                    <div class="d-inline">
                                        <h4>Registro de Estudiante</h4>
                                        <span>Lorem ipsum dolor sit <code>amet</code>, consectetur adipisicing elit</span>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="col-lg-4">
                                <div class="page-header-breadcrumb">
                                    <ul class="breadcrumb-title">
                                        <li class="breadcrumb-item">
                                            <a href="index.html">
                                                <i class="icofont icofont-home"></i>
                                            </a>
                                        </li>
                                        <li class="breadcrumb-item">
                                            <a href="#!">Form Components</a>
                                        </li>
                                        <li class="breadcrumb-item">
                                            <a href="#!">Form Components</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>-->
                        </div>
                    </div>
                    <!-- Page-header end -->

                    <!-- Page body start -->
                    <div class="page-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- Input Alignment card start -->
                                <div class="card">
                                    <div class="card-header">                                    
                                        <h5>Input Alignment</h5>
                                        <span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>
                                        <div class="card-header-right"><i
                                            class="icofont icofont-spinner-alt-5"></i></div>
                                    </div>
                                    <div class="card-block">
                                        <form action="/add_Estudiante/" method="POST">
                                            {% csrf_token %}
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">DNI</label>                                            
                                                <div class="col-sm-8">
                                                    <input type="text" id="txtcodigo" name="txtcodigo" class="form-control" placeholder="Código" minlength="8" maxlength="8" required>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Nombres</label>
                                                <div class="col-sm-8">
                                                    <input type="text" id="txtnombre" name="txtnombre" class="form-control" placeholder="Nombre" required>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Apellidos</label>
                                                <div class="col-sm-8">
                                                    <input type="text" id="txtapellido" name="txtapellido" class="form-control" placeholder="Apellidos" required>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Dirección</label>
                                                <div class="col-sm-8">
                                                    <input type="text" id="txtdireccion" name="txtdireccion" class="form-control" placeholder="Dirección" required>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Teléfono</label>
                                                <div class="col-sm-8">
                                                    <input type="text" id="txttelefono" name="txttelefono" class="form-control" placeholder="Teléfono" minlength="9" maxlength="9" required>
                                                </div>
                                            </div>   
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Nivel</label>
                                                <div class="col-sm-8">
                                                    <input type="select" id="sltnivelnombre" name="sltnivel" class="form-control" placeholder="Nivel" required>
                                                </div>
                                            </div>   
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Grado</label>
                                                <div class="col-sm-8">
                                                    <input type="select" id="sltgrado" name="sltgrado" class="form-control" placeholder="Grado" required>
                                                </div>
                                            </div>   
                                            <div class="panel-footer color-footer">
                                                <button type="submit" class="btn btn-primary">Guardar</button>
                                            </div>                                       
                                        </form>                                    
                                    </div>
                                </div>
                                <!-- Input Alignment card end -->
                            </div>
                        </div>
                    </div>
                    <!-- Page body end -->
                </div>
            </div>
            <!-- Main-body end -->
            <div id="styleSelector">
            </div>
        </div>
    </div>

    <div class="pcoded-main-container col-md-12 col-lg-12">
        <div class="pcoded-wrapper">
            
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- Main-body start -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- Page-header start -->
                            <div class="page-header card">
                                <div class="row align-items-end">
                                    <div class="col-lg-8">
                                        <div class="page-header-title">
                                            <i class="icofont icofont-group-students bg-c-blue"></i>
                                            <div class="d-inline">
                                                <h4>Listado de Estudiantes</h4>
                                                <span>Se muestra el listado de los Niveles de Estudiantes Registrados.</span>
                                            </div>
                                        </div>
                                    </div>                                
                                </div>
                            </div>
                            <!-- Page-header end -->
                            
                            <!-- Page-body start -->
                            <div class="page-body">
                                <!-- Basic table card start -->
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Lista de Estudiantes</h5>
                                        <div class="card-header-right">    <ul class="list-unstyled card-option">        <li><i class="icofont icofont-simple-left "></i></li>        <li><i class="icofont icofont-maximize full-card"></i></li>        <li><i class="icofont icofont-minus minimize-card"></i></li>        <li><i class="icofont icofont-refresh reload-card"></i></li>        <li><i class="icofont icofont-error close-card"></i></li>    </ul></div>
                                    </div>
                                    <div class="card-block table-border-style">
                                        <div class="table-responsive">
                                            {% if not obj %}
                                                <div class="alert alert-info">No hay Estudiantes para mostrar</div>
                                            {% else %}   		
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>DNI</th>
                                                        <th>NOMBRES</th>
                                                        <th>APELLIDOS</th>
                                                        <th>DIRECCION</th>
                                                        <th>TELÉFONO</th>
                                                        <th>GRADO</th>
                                                        <th>NIVEL</th>
                                                        <th>ESTADO</th>
                                                        <th class="all">ACCIONES</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for item in estudiante %}
                                                    <tr>
                                                        <td>{{ item.dni }}</td>
                                                        <td>{{ item.nestudiante }}</td>
                                                        <td>{{ item.apeestudiante }}</td>
                                                        <td>{{ item.direccion }}</td>
                                                        <td>{{ item.telefono }}</td>
                                                        <td>{{ item.codgrado }}</td>
                                                        <td>{{ item.codnivel }}</td>
                                                        <td>{{ item.estado }}</td>
                                                        <td>
                                                            <button class="btn btn-warning btn-circle" ><i class="far fa-edit"></i></button>
                                                            <button class="btn btn-danger btn-circle"  ><i class="far fa-thumbs-down"></i></button>
                                                        </td>
                                                    </tr>                                                        
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <!-- Basic table card end -->                                      
                            </div>
                            <!-- Page-body end -->
                    </div>
                </div>
                <!-- Main-body end -->
    
                <div id="styleSelector">
    
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}      

{% block js %}
<script type="text/javascript" src="{% static 'assets/js/modernizr/css-scrollbars.js' %}"></script>
<!-- classie js -->
<script type="text/javascript" src="{% static 'assets/js/classie/classie.js' %}"></script>

{% endblock js %}