{% extends 'layouts/master.html' %}
{% block content %}
{% load static %}
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">

        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- Main-body start -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- Page-header start -->
                        <div class="page-header card">
                            <div class="row align-items-end">
                                <div class="col-lg-8">
                                    <div class="page-header-title">
                                        <i class="icofont icofont-table bg-c-blue"></i>
                                        <div class="d-inline">
                                            <h4>Listado De Gestión de Cursos</h4>
                                            <span>Se muestra el listado de los Docentes según los cursos asignados.</span>
                                        </div>
                                    </div>
                                </div> 
                                <div class="col-lg-4">
                                    <div class="page-header-breadcrumb">        
                                        <a onclick="return abrir_modal('{% url 'academico:detallecurso_new' %}')" href="#">
                                            <button type="button" class="btn btn-success btn-outline-success">
                                                <i class="icofont icofont-user-alt-3"></i>
                                                Nuevo
                                            </button>
                                        </a>                                       
                                    </div>
                                </div>                               
                            </div>
                        </div>
                        <!-- Page-header end -->

                        <!-- Page-body start -->
                        <div class="page-body">
                            <!-- Basic table card start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5>Lista de Docentes</h5>                                    
                                    <div class="card-header-right">
                                        <ul class="list-unstyled card-option">
                                            <li><i class="icofont icofont-simple-left "></i></li>
                                            <li><i class="icofont icofont-maximize full-card"></i></li>
                                            <li><i class="icofont icofont-minus minimize-card"></i></li>
                                            <!--<li><i class="icofont icofont-refresh reload-card"></i></li>
                                            <li><i class="icofont icofont-error close-card"></i></li>-->
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-block table-border-style">
                                    <div class="table-responsive">
                                        {% if not obj %}
                                            <div class="alert alert-info">No hay Estudiantes para mostrar</div>
                                        {% else %}   	
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Docente</th>
                                                    <th>Curso</th>
                                                    <th>Detalle</th>
                                                    <th class="all">Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for item in obj %}
                                                <tr>
                                                    <td>{{ item.iddocente }}</td>
                                                    <td>{{ item.idcurso }}</td>
                                                    <td>
                                                        <a  onclick="return abrir_modal('{% url 'academico:detallecurso_detalle' item.id %}')">
                                                            <label class="badge badge-primary"> Ver </label>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-warning btn-outline-warning btn-icon" onclick="return abrir_modal('{% url 'academico:detallecurso_edit' item.id %}')"><i class="icofont icofont-edit"></i></button>
                                                        <button class="btn btn-danger btn-outline-danger btn-icon"><i class="icofont icofont-trash"></i></button>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <!-- Basic table card end -->
                        </div>
                        <!-- Page-body end -->
                    </div>
                </div>
                <!-- Main-body end -->

                <div id="styleSelector">

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}