
<div class="modal-dialog modal-lg" >
    <div class="modal-content">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- Main-body start -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- Page-header start -->
                        <div class="page-header card">
                            <div class="row align-items-end">
                                <div class="col-lg-8">
                                    <div class="page-header-title">
                                        <i class="icofont icofont-file-code bg-c-blue"></i>
                                        <div class="d-inline">
                                            <h4>Administración de Curso</h4>
                                        </div>
                                    </div>
                                </div>                       
                            </div>
                        </div>
                        <!-- Page-header end -->

                        <!-- Page body start -->
                        <div class="page-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <!-- Input Alignment card start -->
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Administración y Gestión de Cursos</h5>
                                            <span>Administre y Gestione los distintos cursos, según docente asignado.</span>                                                                        
                                        </div>
                                        <div class="card-block">
                                            <form autocomplete="off" method="POST">
                                                {% csrf_token %}                                                                               
                                                <div class="form-group row">
                                                    <label class="col-sm-2 col-form-label">Docente</label>
                                                    <div class="col-sm-8">
                                                        {{ form.iddocente }}
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-2 col-form-label">Curso</label>
                                                    <div class="col-sm-8">
                                                        {{ form.idcurso }}
                                                    </div>
                                                </div>                                               
                                                <div class="panel-footer color-footer">
                                                    <button type="submit" class="btn btn-primary"><i class="icofont icofont-save"></i>
                                                        Guardar
                                                    </button>
                                                    <button type="button" class="btn btn-warning" onclick="return cerrar_modal()"><i class="icofont icofont-close-squared-alt"></i>
                                                        Cancelar
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- Input Alignment card end -->
                                </div>
                            </div>
                        </div>
                        <!-- Page body end -->
                    </div>
                </div>
                <!-- Main-body end -->               
            </div>
        </div>
    </div>
</div>