{% extends 'layouts/master.html' %}
{% block content %}
{% load static %}


<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page-header start -->
                <div class="page-header card">
                    <div class="row align-items-end">
                        <div class="col-lg-8">
                            <div class="page-header-title">
                                <i class="icofont icofont-file-code bg-c-blue"></i>
                                <div class="d-inline">
                                    <h4>Registro de Calificaciones</h4>
                                </div>
                            </div>
                        </div>
                        <!--<div class="col-lg-4">
                            <div class="page-header-breadcrumb">
                                <ul class="breadcrumb-title">
                                    <li class="breadcrumb-item">
                                        <a href="index.html">
                                            <i class="icofont icofont-home"></i>
                                        </a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a href="#!">Form Components</a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a href="#!">Form Components</a>
                                    </li>
                                </ul>
                            </div>
                        </div>-->
                    </div>
                </div>
                <!-- Page-header end -->

                <!-- Page body start -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- Input Alignment card start -->
                            <div class="card">
                                <div class="card-header">                                    
                                    <h5>Ingresar Datos</h5>
                                    <div class="card-header-right"><i
                                        class="icofont icofont-spinner-alt-5"></i></div>
                                </div>
                                <div class="card-block">
                                    <form method="POST">
                                        {% csrf_token %}
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Curso</label>
                                            <div class="col-sm-8">
                                                {{ form.idcurso }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Bimestre</label>                                            
                                            <div class="col-sm-8">
                                                {{ form.bimestre }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Estudiante</label>
                                            <div class="col-sm-8">
                                                {{ form.idestudiante }}
                                            </div>
                                        </div>                                                                             
                                        <br>
                                        <hr>
                                        <div class="card-header">                                    
                                            <h5><label class="label label-info" ><font size=3 >Agregar Calificaciones</font></label></h5>
                                            <div class="card-header-right"><i
                                                class="icofont icofont-spinner-alt-5"></i></div>
                                        </div>
                                        <div class="form-group row">                                            
                                            <div class="col-sm-2">
                                                <label class="col-sm-12 col-form-label">Asistencia</label>
                                                {{ form.asistencia }}                                                
                                            </div>
                                            <div class="col-sm-2">
                                                <label class="col-sm-12 col-form-label">Intervención</label>
                                                {{ form.intervencion }}
                                            </div>
                                            <div class="col-sm-2">
                                                <label class="col-sm-12 col-form-label">Tarea</label>
                                                {{ form.tarea }}
                                            </div>
                                            <div class="col-sm-2">
                                                <label class="col-sm-12 col-form-label">Prática</label>
                                                {{ form.practica }}
                                            </div>
                                            <div class="col-sm-2">
                                                <label class="col-sm-12 col-form-label">Evaluación</label>
                                                {{ form.evaluacion }}

                                            </div>
                                        </div>
                                        <br>
                                        <hr>
                                        <div class="panel-footer color-footer">
                                            <button type="submit" class="btn btn-primary">Guardar</button>
                                            <a href="{% url 'academico:calificacion_list' %}">
                                                <button type="button" class="btn btn-outline-warning">
                                                  Cancelar
                                                </button>
                                            </a>
                                        </div>                                       
                                    </form>                                    
                                </div>
                            </div>
                            <!-- Input Alignment card end -->
                        </div>
                    </div>
                </div>
                <!-- Page body end -->
            </div>
        </div>
        <!-- Main-body end -->
        <div id="styleSelector">
        </div>
    </div>
</div>
{% endblock %}      

{% block js %}
<script type="text/javascript" src="{% static 'assets/js/modernizr/css-scrollbars.js' %}"></script>
<!-- classie js -->
<script type="text/javascript" src="{% static 'assets/js/classie/classie.js' %}"></script>

{% endblock js %}