{% extends 'layouts/master.html' %}
{% block content %}
{% load static %}

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>


<link href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css" rel="stylesheet" />



<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

            

<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- Main-body start -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- Page-header start -->
                        <div class="page-header card">
                            <div class="row align-items-end">
                                <div class="col-lg-8">
                                    <div class="page-header-title">
                                        <i class="icofont icofont-chart-bar-graph bg-c-pink"></i>
                                        <div class="d-inline">
                                            <h4>Listado de Calificaciones</h4>
                                            <span>Se muestra el listado de las Calificaciones de los Estudiantes Registrados.</span>
                                        </div>
                                    </div>
                                </div> 
                                <div class="col-lg-4">
                                    <div class="page-header-breadcrumb">                                                                        
                                        <a href="{% url 'academico:calificacion_new' %}">
                                            <button type="button" class="btn btn-danger btn-outline-danger">
                                                <i class="icofont icofont-chart-bar-graph"></i>
                                                Nuevo
                                            </button>
                                        </a>                                       
                                    </div>
                                </div>                                    
                            </div>
                        </div>
                        <!-- Page-header end -->
                        
                        <!-- Page-body start -->
                        <div class="page-body">
                            <!-- Basic table card start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5>Calificaciones de Estudiantes</h5>
                                    <span>LEYENDA: </span>
                                    <span><label class="label label-info">ASIS</label> = Asistencia, <label class="label label-info">INTE</label> = Intervención, <label class="label label-info">TARE</label> = Tarea, <label class="label label-info">PRAC</label> = Práctica, <label class="label label-info">EVAL</label> = Evaluación</span>
                                    <div class="card-header-right">
                                            <ul class="list-unstyled card-option"> 
                                                <li>
                                                    <i class="icofont icofont-simple-left "></i>
                                                </li>
                                                <li>
                                                    <i class="icofont icofont-maximize full-card"></i>
                                                </li>  
                                                <li>
                                                    <i class="icofont icofont-minus minimize-card"></i>
                                                </li>     
                                                <!-- <li>
                                                    <i class="icofont icofont-refresh reload-card"></i>
                                                </li>    
                                                <li>
                                                    <i class="icofont icofont-error close-card"></i>
                                                </li> -->
                                            </ul>
                                    </div>
                                    <hr>
                                </div>
                                <br>
                                <div class="card-block table-border-style">
                                    <div class="table-responsive">
                                        {% if not calificacionobj %}
                                            <div class="alert alert-info">No hay Estudiantes para mostrar</div>
                                        {% else %}   		                                        
                                        <div class="table-responsive">
                                                <div class="panel panel-success filterable">
                                                    <div class="panel-heading">
                                                        <br>                                                        
                                                        <div class="pull-right">
                                                            <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filtrar</button>                                                            
                                                        </div>
                                                    </div>
                                                    <table id="print" class="table table-striped table-bordered" >
                                                        <thead class="thead-success">                                                            
                                                            <tr class="filters">
                                                                <th><input type="text" class="form-control" style="font-size: 12px" placeholder="ESTUDIANTE" disable></th>
                                                                <th><input type="text" class="form-control" style="font-size: 12px" placeholder="CURSO" disable></th>
                                                                <th><input type="text" class="form-control" style="font-size: 12px" placeholder="BIMESTRE" disable></th>
                                                                <th align="center" style="font-size: 12px">ASIS</th>
                                                                <th align="center" style="font-size: 12px">INTE</th>
                                                                <th align="center" style="font-size: 12px">TARE</th>
                                                                <th align="center" style="font-size: 12px">PRAC</th>
                                                                <th align="center" style="font-size: 12px">EVAL</th>
                                                                <th align="center"> <label class="label label-inverse-success" >PROMEDIO</label></th>
                                                                <th class="all"><label class="label label-info">ACCIONES</label></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for item in calificacionobj %}   
                                                            <tr>
                                                                <td align="center" style="font-size: 11.6px">{{ item.idestudiante }}</td>                                                   <!--1-->
                                                                <td align="center" style="font-size: 11.6px">{{ item.idcurso }}</td>
                                                                <td align="center" style="font-size: 11.6px">{{ item.bimestre }}</td>
                                                                <td align="center" style="font-size: 11.6px">{{ item.asistencia }}</td>
                                                                <td align="center" style="font-size: 11.6px">{{ item.intervencion }}</td>
                                                                <td align="center" style="font-size: 11.6px">{{ item.tarea }}</td>
                                                                <td align="center" style="font-size: 11.6px">{{ item.practica }}</td>
                                                                <td align="center" style="font-size: 11.6px">{{ item.evaluacion }}</td>
                                                                <td align="center" ><label class="badge badge-success"> {{ item.media_notas }} </label></td>
                                                                <td>
                                                                    <a href="{% url 'academico:calificacion_detalle' item.id %}">
                                                                        <label class="badge badge-primary"> Ver </label>
                                                                    </a>
                                                                </td>
                                                                <td>
                                                                    <button class="btn btn-warning btn-outline-warning btn-icon"><i class="icofont icofont-edit"></i></button>
                                                                    <button class="btn btn-danger btn-outline-danger btn-icon"><i class="icofont icofont-trash"></i></button>                                                                    
                                                                </td>
                                                            </tr>                                                        
                                                            {% endfor %}
                                                        </tbody>                                                       
                                                    </table>                                                    
                                                </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <!-- Basic table card end -->                                      
                        </div>
                        <!-- Page-body end -->
                </div>
            </div>
            <!-- Main-body end -->

            <div id="styleSelector">

            </div>
        </div>
    </div>
</div>
</div>

<!-- Warning Section Starts -->
<!-- Older IE warning message -->
    <!--[if lt IE 9]>
<div class="ie-warning">
    <h1>Warning!!</h1>
    <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
    <div class="iew-container">
        <ul class="iew-download">
            <li>
                <a href="http://www.google.com/chrome/">
                    <img src="assets/images/browser/chrome.png" alt="Chrome">
                    <div>Chrome</div>
                </a>
            </li>
            <li>
                <a href="https://www.mozilla.org/en-US/firefox/new/">
                    <img src="assets/images/browser/firefox.png" alt="Firefox">
                    <div>Firefox</div>
                </a>
            </li>
            <li>
                <a href="http://www.opera.com">
                    <img src="assets/images/browser/opera.png" alt="Opera">
                    <div>Opera</div>
                </a>
            </li>
            <li>
                <a href="https://www.apple.com/safari/">
                    <img src="assets/images/browser/safari.png" alt="Safari">
                    <div>Safari</div>
                </a>
            </li>
            <li>
                <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                    <img src="assets/images/browser/ie.png" alt="">
                    <div>IE (9 & above)</div>
                </a>
            </li>
        </ul>
    </div>
    <p>Sorry for the inconvenience!</p>
</div>
<![endif]-->
<!-- Warning Section Ends -->




{% endblock %}    

{% block js %}
<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>

<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>

<script>
    $(document).ready(function(){    
    
    $('.filterable .btn-filter').click(function(){
        var $panel = $(this).parents('.filterable'),
        $filters = $panel.find('.filters input'),
        $tbody = $panel.find('.table tbody');
        if ($filters.prop('disabled') == true) {
            $filters.prop('disabled', false);
            $filters.first().focus();
        } else {
            $filters.val('').prop('disabled', true);
            $tbody.find('.no-result').remove();
            $tbody.find('tr').show();
        }
    });

    $('.filterable .filters input').keyup(function(e){
        /* Ignore tab key */
        var code = e.keyCode || e.which;
        if (code == '9') return;
        /* Useful DOM data and selectors */
        var $input = $(this),
        inputContent = $input.val().toLowerCase(),
        $panel = $input.parents('.filterable'),
        column = $panel.find('.filters th').index($input.parents('th')),
        $table = $panel.find('.table'),
        $rows = $table.find('tbody tr');
        /* Dirtiest filter function ever ;) */
        var $filteredRows = $rows.filter(function(){
            var value = $(this).find('td').eq(column).text().toLowerCase();
            return value.indexOf(inputContent) === -1;
        });
        /* Clean previous no-result if exist */
        $table.find('tbody .no-result').remove();
        /* Show all rows, hide filtered ones (never do that outside of a demo ! xD) */
        $rows.show();
        $filteredRows.hide();
        /* Prepend no-result row if all rows are filtered */
        if ($filteredRows.length === $rows.length) {
            $table.find('tbody').prepend($('<tr class="no-result text-center"><td colspan="'+ $table.find('.filters th').length +'">No result found</td></tr>'));
        }
    });

    $('#print').DataTable({
        dom: 'Bfrtip',
        responsive: true,             
        buttons: [
            { 
                extend: 'print',
                className: 'btn-primary',
                text: 'View/print full listing',
                autoPrint: false,
                title: 'CEBA - San Agustin',
            },       
        ],
    });

    
});
</script>

<style>
    .filterable {
        margin-top: 15px;
    }
    .filterable .panel-heading .pull-right {
        margin-top: -20px;
    }
    .filterable .filters input[disabled] {
        background-color: transparent;
        border: none;
        cursor: auto;
        box-shadow: none;
        padding: 0;
        height: auto;
    }
    .filterable .filters input[disabled]::-webkit-input-placeholder {
        color: #333;
    }
    .filterable .filters input[disabled]::-moz-placeholder {
        color: #333;
    }
    .filterable .filters input[disabled]:-ms-input-placeholder {
        color: #333;
    }
    th {
        background-color: #DFF0D8;
        color: rgb(0, 0, 0);
    }
    
</style>
    

{% endblock %}