{% extends 'layouts/master.html' %}
{% block content %}
{% load static %}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />


<div class="pcoded-main-container">
    <div class="pcoded-wrapper">

        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- Main-body start -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- Page-header start -->
                        <div class="page-header card">
                            <div class="row align-items-end">
                                <div class="col-lg-8">
                                    <div class="page-header-title">
                                        <i class="icofont icofont-chart-bar-graph bg-c-blue"></i>
                                        <div class="d-inline">
                                            <h4>Estudiantes</h4>
                                            <span>Se muestra el listado de las Calificaciones de los Estudiantes
                                                Registrados.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Page-header end -->

                        <!-- Page-body start -->

                        <div class="container bootdey flex-grow-1 container-p-y">

                            <div class="media align-items-center py-3 mb-3">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="d-block ui-w-100 rounded-circle">
                                <div class="media-body ml-4">                                   
                                    <h4 class="font-weight-bold mb-0">{{lista_calificacion_estudiante.idestudiante}}</h4>
                                    <div class="text-muted mb-2">ID: 3425433</div>
                                    <a href="javascript:void(0)" class="btn btn-primary btn-sm">Edit</a>&nbsp;
                                    <a href="javascript:void(0)" class="btn btn-default btn-sm">Profile</a>&nbsp;
                                    <a href="javascript:void(0)" class="btn btn-default btn-sm icon-btn"><i class="fa fa-mail"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <form id="valor" name="valor" method = "GET">
                                    <div class="form-group">
                                    <div class="col-md-4">
                                        <input id="textinput" name="textinput" placeholder="ingrese nombre" class="form-control input-md" type="text">
                                    </div>
                                    </div>
                        
                                    <div class="form-group">
                                        <div class="col-md-2">
                                            <button id="singlebutton" name="singlebutton" class="btn btn-primary">Buscar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="card mb-4">
                                <div class="card-body">
                                    <table class="table user-view-table m-0">
                                        <tbody>
                                            {% for item in lista_calificacion_estudiante %}
                                            <tr>
                                                <td>{{item.idestudiante}}</td>
                                            </tr>
                                            {% endfor %}
                                            
                                        </tbody>
                                    </table>
                                </div>
                                <hr class="border-light m-0">
                                <div class="table-responsive">
                                    <table class="table card-table m-0">
                                        <thead class="thead-success">                                                            
                                            <tr>
                                                <th align="center" style="font-size: 12px">CURSO</th>                                                
                                                <th align="center" style="font-size: 12px">BIMESTRE</th>                                                
                                                <th align="center" style="font-size: 12px">ASIS</th>
                                                <th align="center" style="font-size: 12px">INTE</th>
                                                <th align="center" style="font-size: 12px">TARE</th>
                                                <th align="center" style="font-size: 12px">PRAC</th>
                                                <th align="center" style="font-size: 12px">EVAL</th>
                                                <th align="center"> <label class="label label-inverse-success" >PROMEDIO</label></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in lista_calificacion_estudiante %}
                                            <tr>
                                                <td align="left" style="font-size: 11.6px">{{ item.idcurso }}</td>
                                                <td align="left" style="font-size: 11.6px">{{ item.bimestre }}</td>
                                                <td align="center" style="font-size: 11.6px">{{ item.asistencia }}</td>
                                                <td align="center" style="font-size: 11.6px">{{ calificacionobj.intervencion }}</td>
                                                <td align="center" style="font-size: 11.6px">{{ calificacionobj.tarea }}</td>
                                                <td align="center" style="font-size: 11.6px">{{ calificacionobj.practica }}</td>
                                                <td align="center" style="font-size: 11.6px">{{ calificacionobj.evaluacion }}</td>
                                                <td align="center" ><label class="badge badge-success"> {{ calificacionobj.media_notas }} </label></td>                                                
                                            </tr> 
                                            {% endfor %}
                                        </tbody>       
                                    </table>
                                </div>
                            </div>   
                                                  

                        </div>

                        <!-- Page-body end -->
                    </div>
                </div>
                <!-- Main-body end -->

                <div id="styleSelector">

                </div>
            </div>
        </div>
    </div>
</div>

<style>
    body{
    margin-top:0px;
    background: #f5f5f5;
}

.ui-w-100 {
    width: 100px !important;
    height: auto;
}

.card {
    background-clip: padding-box;
    box-shadow: 0 1px 4px rgba(24,28,33,0.012);
}

.user-view-table td:first-child {
    width: 9rem;
}
.user-view-table td {
    padding-right: 0;
    padding-left: 0;
    border: 0;
}

.text-light {
    color: #babbbc !important;
}

.card .row-bordered>[class*=" col-"]::after {
    border-color: rgba(24,28,33,0.075);
}    

.text-xlarge {
    font-size: 170% !important;
}
</style>

{% endblock %}


