{% extends 'layouts/master.html' %}
{% block content %}
{% load static %}


<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page-header start -->
                <div class="page-header card">
                    <div class="row align-items-end">
                        <div class="col-lg-8">
                            <div class="page-header-title">
                                <i class="icofont icofont-check bg-c-green"></i>
                                <div class="d-inline">
                                    <h4>Registro de Asistencia</h4>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
                <!-- Page-header end -->

                <!-- Page body start -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- Input Alignment card start -->
                            <div class="card">
                                <div class="card-header">                                    
                                    <h5>Añadir Un Nuevo Curso</h5>
                                    <span>Ingrese un código y nombre para el nuevo curso y seleccione nivel y grado de estudio.</span>
                                    <div class="card-header-right"><i
                                        class="icofont icofont-spinner-alt-5"></i></div>
                                </div>
                                <div class="card-block">
                                    <form method="post">
                                        {% csrf_token %}                                    
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">FECHA</label>
                                            <div class="col-sm-8">
                                                {{ form.fecha }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">CURSO</label>
                                            <div class="col-sm-8">
                                                {{ form.iddetcurso }}
                                            </div>
                                        </div> 
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">ESTUDIANTE</label>
                                            <div class="col-sm-8">                                                                                            
                                                {{ form.idestudiante }}                                                                                                                
                                            </div>
                                        </div>                                               
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">MARCAR ASISTENCIA</label>
                                            <div class="col-sm-8">
                                                {{ form.idasistencia }}
                                            </div>
                                        </div>                                 
                                        <div class="panel-footer color-footer">
                                            <button type="submit" class="btn btn-success">Guardar</button>
                                        </div>
                                        <div class="card-block table-border-style">
                                            <div class="table-responsive">
                                                <table id="example" class="table">
                                                    <button type="submit">Submit form</button>
        
                                                    <thead>
                                                        <tr>
                                                            <th>Estudiante</th>
                                                            <th>Grado</th>
                                                            <th>Nivel</th>
                                                            <th>TURNO</th>
                                                            <th>ASISTENCIA</th>
                                                            <th class="all">Acciones</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for item in estudianteobj %}
                                                        <tr>
                                                            <td>{{ estudianteobj.idestudiante.nestudiante }}</td>
                                                            <td>{{ estudianteobj.idestudiante.grado }}</td>
                                                            <td>{{ item.idestudiante.nivel }}</td>
                                                            <td>{{ item.idestudiante.turno }}</td>
                                                            <td>
                                                                <select>
                                                                    <option value="Edinburgh" selected="selected">
                                                                        Edinburgh
                                                                    </option>
                                                                    <option value="London">
                                                                        London
                                                                    </option>
                                                                    <option value="New York">
                                                                        New York
                                                                    </option>
                                                                    <option value="San Francisco">
                                                                        San Francisco
                                                                    </option>
                                                                    <option value="Tokyo">
                                                                        Tokyo
                                                                    </option>
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <button class="btn btn-warning btn-circle"><i
                                                                        class="far fa-edit"></i></button>
                                                                <button class="btn btn-danger btn-circle"><i
                                                                        class="far fa-thumbs-down"></i></button>
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>                                       
                                    </form>                                    
                                </div>
                            </div>
                            <!-- Input Alignment card end -->
                        </div>
                    </div>
                </div>
                <!-- Page body end -->
            </div>
        </div>
        <!-- Main-body end -->
        <div id="styleSelector">
        </div>
    </div>
</div>
{% endblock %}      

{% block js %}
<script type="text/javascript" src="{% static 'assets/js/modernizr/css-scrollbars.js' %}"></script>
<!-- classie js -->
<script type="text/javascript" src="{% static 'assets/js/classie/classie.js' %}"></script>

{% endblock js %}